.navbar{
    background-color: #77160d;
}

#mainBox{
    margin-top: 1em;
    padding: 0 1em;
}

.menuBox{
    margin: 0;
    width: 75%;
    float: left;
    border: 1px black solid;
    padding: 0.5em 1em 1em 1em;
    border-radius: 0em;
    background-color: #fafafa;


    /* Temporary */
    
    height: 900px;

    /* Temporary */
}

.orderBox{
    margin: 0;
    width: 24%;
    float: right;
    border: 1px black solid;
    padding: 0.5em 1em 1em 1em;
    border-radius: 0em;
    background-color: #fafafa;


    /* Temporary */

    height: 900px;

    /* Temporary */    
}

.menuBox h1{
    font-family: 'Ubuntu', sans-serif;
    color: #77160d;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.menuBox hr{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1.75em;
    margin-bottom: 3em;
    text-align: center;
    width: 4.5em;
    border: 0 solid black;
    height: 5px;
    background-color: #984f48;
}


.orderBox h1{
    font-family: 'Ubuntu', sans-serif;
    color: #77160d;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.orderBox hr{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1.75em;
    margin-bottom: 3em;
    text-align: center;
    width: 4.5em;
    border: 0 solid black;
    height: 5px;
    background-color: #984f48;
}

.menuBox .btn{
    color: #1f1f1f;
    background-color: #fafafa;
    border-color: #fafafa;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 18px;
    border: 0;
    transition-duration: 0.15s;
    box-sizing: content-box;
    padding: 8px 23px;
}

.menuBox .btn:hover{
    background-color: #77160d;
    color: #fafafa;
}

.menuBox .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.menuBox .btn:active{
    background-color: #690800;
    color: #f5f5f5;
    transition-duration: 0.1s;
}

#secondRowMenu{
    padding-left: 4.5em;
    padding-right: 4.5em;
}

#secondRowMenu .btn{
    height: 36px;
    width: auto;
}

#firstRowMenu{
    margin-top: 0.5em;
    padding-left: 2em ;
    padding-right: 2em ;
}

#firstRowMenu .btn{
    height: 36px;
    width: auto;
    padding: 8px 27px;
}

.scrollable{
    margin: 4em 0 0 0;
    height: 60%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable:hover{
    scrollbar-track-color: #fafafa;
    scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar{
    width: 8px;
}

.scrollable::-webkit-scrollbar-track{
    background-color: #fafafa;
}

.scrollable::-webkit-scrollbar-thumb{
    background: #ddd;
    visibility: hidden;
}

.scrollable:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.form-control{
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
    width: 90%;
    margin: auto;
}

.form-control:active{
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
}

.form-control:focus,.form-control:active {
    background-color: #fafafa;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
    outline: none !important;
    box-shadow: none;
 }

select::-ms-expand{
    display:none;
}

 select {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position: 97.5% 50%;
    -moz-appearance: none;
}

.orderBox h5{
    margin-top: 3em;
    color: #6c6c6c;
}

@media(max-width:1100px){
    .orderBox{
        width: 99%;
        margin: 0;
        float: none;
    }
    .menuBox{
        width: 99%;
        margin: 0;
        float: none;
    }
    .scrollable{
        height: 40%;
    }
}