*{
    font-family: 'Alegreya Sans', sans-serif;
}

.navbar{
    background-color: #77160d;
}

#mainBox{
    position: absolute;
    top: 4.5em;
    padding: 0 1em;
}

.menuBox{
    position: relative;
    margin: 0;
    width: 79%;
    float: left;
    border: 1px black solid;
    padding: 0.5em 0em 1em 0em;
    border-radius: 0em;
    background-color: #fafafa;
    overflow: visible; 
    


    /* Temporary */
    
    height: 840px;

    /* Temporary */
}

.orderBox{
    position: relative;
    margin: 0;
    width: 20%;
    float: right;
    border: 1px black solid;
    padding: 0.5em 1em 1em 1em;
    border-radius: 0em;
    background-color: #fafafa;


    /* Temporary */

    height:860px;

    /* Temporary */    
}

.menuBox h1{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    color: #77160d;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.menuBox hr{
    position: relative;
    top: 0.5em;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3em;
    text-align: center;
    width: 4.5em;
    border: 0 solid black;
    height: 5px;
    background-color: #984f48;
}


.orderBox h1{
    font-family: 'Ubuntu', sans-serif;
    color: #77160d;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.orderBox hr{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 1.75em;
    margin-bottom: 3em;
    text-align: center;
    width: 4.5em;
    border: 0 solid black;
    height: 5px;
    background-color: #984f48;
}

.menuBox .btn{
    color: #1f1f1f;
    background-color: #fafafa;
    border-color: #fafafa;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    transition-duration: 0.15s;
    box-sizing: content-box;
    padding: 8px 26px;
}

.menuBox .btn:hover{
    background-color: #77160d;
    color: #fafafa;
}

.menuBox .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.menuBox .btn:active{
    background-color: #690800;
    color: #f5f5f5;
    transition-duration: 0.1s;
}

.inlineDiv{
    display: inline;
}

.firstRowMenu{
    margin-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.firstRowMenu .btn{
    height: 36px;
    width: auto;
    padding: 8px 32px;
}

.secondRowMenu{
    padding-left: 4.5em;
    padding-right: 4.5em;
}

.secondRowMenu .btn{
    height: 36px;
    width: auto;
    padding: 8px 28px;
}

.scrollable{
    position: relative;
    right: 1px;
    top: 0.7em;
    padding:0;
    height: 54%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: 1px solid black;
    box-sizing: content-box;
}

.scrollable:hover{
    scrollbar-track-color: #fafafa;
    scrollbar-width: none;
}

.scrollable::-webkit-scrollbar{
    width: 0;
}

.form-control{
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
    width: 80%;
    box-sizing: content-box;
    padding: 6px 8px 10px 8px;
    margin: auto;
}

.form-control:active{
    background-color: #fafafa;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
}

.form-control:focus,.form-control:active {
    background-color: #fafafa;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
    outline: none !important;
    box-shadow: none;
 }

select::-ms-expand{
    display:none;
}

 select {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position: 97.5% 50%;
    -moz-appearance: none;
}

.menuBox #sectionName{
    position: relative;
    top: 0.5em;
    font-size: 28px;
    font-weight: 650;
    margin: 77px 1em 1.25em 1em;

}

.foodName{
    position: relative;
    top: 14px;
    left: 1.6em;
    font-size: 24px;
    font-weight:650;
    color: #77160d;
}

.foodDesc{
    position: relative;
    top: 24px;
    left: 2.25em;
    font-size: 18px;
}

.foodPrice{
    position:relative;
    top: 1.25em;
    right: 1em;
    font-size: 20px;
    font-weight: 600;
    color: #77160d;
    float:right;
}

.menuItem .addButton{
    position: relative;
    top: 1.75em;
    padding: 10px 23px;
    background-color: inherit;
    float:right;
    transition-duration: 0ms;
    font-weight: 600;
    border: 2px solid #77160d;
    color: #77160d;
}

.vl{
    position: relative;
    top: 0.5em;
    left: 0.5em;
    margin-bottom: 1em;
    border:0;
    border-left: 4px solid #d1d1d1;
    height: 135px;
    width:0px;
    float:left;
}

.menuItem{
    background-color: #fafafa;
    border-width: 0;
    width:100%;
    padding-right: 4.5em;
}

.menuItem:hover{
    background-color: #f4f4f4;
}

.menuItem:hover .vl{
    position: relative;
    top: 0.5em;
    left: 0.75em;
    border:0;
    border-left: 4px solid #984f48;
    height: 135px;
    width:0px;
    float:left;
}

.menuItem:hover .foodName{
    left: 2em;
}

.menuItem:hover .foodDesc{
    left: 2.5em;
}

.menuItem p{
    float:left;
}

.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.orderBox h5{
    margin-top: 3em;
    color: #6c6c6c;
}

.orderBox .list-group-item {
    background-color: #fafafa;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 50px;
}

.orderBox .list-group-item:last-child{
    border-bottom-width: 0px;
}

.orderItem{
    background-color: #fafafa;
    border-radius: 0;
}

@media(max-width:1100px){
    .orderBox{
        width: 99%;
        margin: 0;
        float: none;
    }
    .menuBox{
        width: 99%;
        margin: 0;
        float: none;
    }
    .scrollable{
        height: 40%;
    }
}